# -------------------------------------------------------------------
# .gitignore
# -------------------------------------------------------------------
node_modules/
dist/
logs/
tmp/
.idea
.env
cookie*.txt
